 
.Z {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    box-shadow: 2px 2px 10px lightgray;
    color: white;
    position: sticky;
    top: 0%;
    list-style: none;
    height: 55px;
    /* z-index: 1;  */
    cursor: pointer;
}

.Z ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style-type: none;
}

.Z ul li {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
    display: none;
}

/* Responsive Navbar */

.A {
    padding-top: 20px;
}

.B {
    width: 100%;
    border-radius: 30px;
    margin-right: 10px;
    color: black;
    background-color:white;
    margin-top: 12px;
}

h4 {
    max-width: 500px;
    text-align: center;
    margin: auto;
    position: relative;
}
 

h4:before{
    content: "";
    width: 150px;
    height: 2px;
    display: block;
    background: gray;
    position: absolute;
    top: 50%;
    left: 0%;
}

h4:after{
    content: "";
    width: 150px;
    height: 2px;
    display: block;
    background: gray;
    position: absolute;
    top: 50%;
    right: 0%;
}

.D {
    border-radius: 15px;
    height: 35px;
    width: 10%;
    background-color: black;
    color: white;
}

.F {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.thdiv {
    border: 2px solid white;
    background-color: #FFE5BC;
}

.G {
    margin-top: 120px;
    margin-left: 40px;
}

.H {
    margin-left: 40px;
}

.O {
    margin-left: 40px;
    margin-bottom: 30px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 12%;
    margin-top: 10px;
}

.v {
    display: flex ;
    justify-content: space-around;

}

.n {
    display: flex;
    justify-content: space-around;
}
.m {
    display: flex;
    justify-content: space-around;

}

.mo {
    display: flex;
    justify-content: space-evenly;
}

.fidiv {
    border: 2px solid white;
    background-color:#FFE5BC ;
    padding-bottom: 150px;
}
#ZZ  {
    padding-top: 10%;
}

#S {
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}

.K {
    margin-left: 120px;
}

.J {
    margin-left: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 20%;
    margin-top: 10px;

}

#XX {
    margin: 14px;
    border: 2px solid white;
    border-radius: 10px;
}

.AA {
    margin-left: 20px;
}

.JJ {
    margin-left: 20px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 20%;
    margin-top: 10px;

}

.P {
    border-radius: 10px;
}

.KK {
    margin-left: 60px;
}

.Jl {
    margin-left: 60px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 20%;
    margin-top: 10px;
}
.kon {
    margin-top: 20px;
    margin-left: 20px;
    margin: 20px;

}
.kon {
    position: relative;
    margin-left: 130px;
}


.nn {
    position: absolute;
    top: 0%;
    color: white;
    padding-left: 100px;
    padding-top: 35px;

}


.vv {
    position: absolute;
    top: 34px;
    right: 140px;
    color: white;


}

.AB {
    position: absolute;
    bottom: 180%;
}

@media screen and (max-width : 900px) {
    
.Z {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: black;
    box-shadow: 2px 2px 10px lightgray;
    color: white;
    position: sticky;
    top: 0%;
    list-style: none;
    height: 40px;
    z-index: 1; 
    cursor: pointer;
    overflow: hidden;

}

.O {
    margin-left: 40px;
    margin-bottom: 30px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 19%;
    margin-top: 10px;
}

.mo {
    display: flex;
    justify-content: space-around;
}
.m {
    display: flex;
    justify-content: space-around;

}

.D {
    border-radius: 15px;
    height: 50px;
    width: 25%;
    background-color: black;
    color: white;
}


h4:before{
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: gray;
    position: absolute;
    top: 50%;
    left: 0%;
}

h4:after{
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: gray;
    position: absolute;
    top: 50%;
    right: 0%;
}

.J {
    margin-left: 40px;
    height: 47px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 50%;
    margin-top: 10px;

}


.K {
    margin-left: 40px;
}


#XX {
    margin: 2px;
    border: 2px solid white;
    border-radius: 10px;
}

.A {
    padding-top: 10px;
}

.JJ {
    margin-left: 20px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 30%;
    margin-top: 10px;



}

.Jl {
    margin-left: 60px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 40%;
    margin-top: 10px;
}

.kon {
    position: relative;
    margin-left: 10px;
}

.nn {
    position: absolute;
    top: 0%;
    color: white;
    padding-left: 2px;
    padding-top: 10px;
    height: 30%;
    font-size: 10px;

}
.vv {
    position: absolute;
    top: 7px;
    left: 60%;
    color: white;

}

nn, h1 {
    font-weight: 10px;
}

}

/* Navbar */
@media (max-width : 790px) {
    .toggle {
        /* display: block; */
    }

    .Z {
        justify-content: space-between;
        padding: 0 5%;
    }

    .Z ul{
        /* flex-direction: column; */
    }

    .Z ul li {
        /* color: #000; */
    }

    .kon {
        position: relative;
        margin: 0;
        width: 100%;
    }
    
    
    .nn {
        position: absolute;
        top: 0%;
        color: white;
        padding-left: 5%;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .nn h1 {
        font-size: 20px;
    }
    
    
    .vv {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 34px;
        right: 10%;
        color: white;
        font-size: 12px;
    }

    .vv h1 {
        font-size: 20px;
    }
    
}